

body {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}


.line {
  fill:none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.area {
	fill: steelblue;	
}

a {text-decoration: none;
color:black;}

